.volontaire-list{
    background-color: #F5F6FA;
    width: 100%;
    margin-left:300px;
    padding: 20px;
    border-radius: 30px;
    position: relative;
    color: #2E4765;
    display: flex;
    flex-direction: column;
}